# System files
.DS_Store

# Temporary files
*.log
*.tmp
*.bak
*.swp

# Authentication & Secrets
aws-sso/
gh/hosts.yml

# Tool Caches & State
github-copilot/
helm/
snyk/
containers/
configstore/
.ruby-lsp/

# Editor & IDE
nvim/lazy-lock.json

# Development Tools
mlflow/telemetry.json