# efm
efm-langserver/

# homebrew
Brewfile.rb.lock.json

# htop
htop/

# kitty
kitty/neighboring_window.py
kitty/pass_keys.py

# lazydocker
lazydocker/state.yml

# lazygit
lazygit/state.yml

# npm
configstore/

# nvim
nvim/plugin/

# zsh
.zcomp*
*.zwc

